@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import '~normalize.css/normalize.css';

$color-light: #F2E6DF;
$color-medium: #A69576;
$color-dark: #01401C;
$color-text: #444;
$color-gray: #D9CFC8;
$color-white: #fff;
$color-red: #FF4136;
$color-light-green: #BDD9B0;
$color-light-red: #F2B2AC;

html {
    font-size: 100%;
}
body {
    background-color: $color-white;
}

.color-light { color: $color-light; }
.color-light-bg { background-color: $color-light !important; }
.color-medium { color: $color-medium; }
.color-medium-bg { background-color: $color-medium !important; }
.color-dark { color: $color-dark; }
.color-dark-bg { background-color: $color-dark !important; }
.color-text { color: $color-text; }
.color-text-bg { background-color: $color-text !important; }
.color-gray { color: $color-gray; }
.color-gray-bg { background-color: $color-gray !important; }
.color-white { color: $color-white; }
.color-white-bg { background-color: $color-white !important; }
.color-red { color: $color-red; }
.color-red-bg { background-color: $color-red !important }
.color-light-green { color: $color-light-green }
.color-light-green-bg { background-color: $color-light-green !important }
.color-light-red { color: $color-light-red }
.color-light-red-bg { background-color: $color-light-red !important }

/* Color Theme Swatches in Hex */
// .beautiful-green-wedding-bouquet-in-retro-car,-wooden-steering-wheel-1-hex { color: #01401C; }
// .beautiful-green-wedding-bouquet-in-retro-car,-wooden-steering-wheel-2-hex { color: #A69576; }
// .beautiful-green-wedding-bouquet-in-retro-car,-wooden-steering-wheel-3-hex { color: #A64914; }
// .beautiful-green-wedding-bouquet-in-retro-car,-wooden-steering-wheel-4-hex { color: #F2E6DF; }
// .beautiful-green-wedding-bouquet-in-retro-car,-wooden-steering-wheel-5-hex { color: #59200B; }

* {
    font-family: 'EB Garamond', serif;
    color: $color-text;
    box-sizing: border-box;
}
p, li {
    line-height: 2.1rem;
}

p, form, li {
    font-size: 1.4rem;
}

.nav li {
    list-style-type: none;
}
@media (max-width: 55rem) { /* mobile nav */
    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $color-light;
        padding: 1rem;
        z-index: 10;
        opacity: 0.95;
        overflow: hidden;
        text-align: right;
        padding-top: 4rem;
        display: none;
    }
    .nav.is-open {
        display: block;
    }
    .nav a {
        display: block;
        margin: 0 1rem;
        text-decoration: none;
        letter-spacing: 0.05em;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}
/* desktop */
@media (min-width: 55rem) { /* desktop nav */
    .nav {
        position: fixed;
        width: 100%;
        text-align: center;
        background-color: $color-light;
        border-bottom: 1px solid $color-gray;
        z-index: 20;
    }
    .nav a {
        display: inline-block;
        margin: 0 0.4rem;
        text-decoration: none;
        letter-spacing: 0.05em;
        padding: 1rem;
    }
    .nav a.active {
        border-bottom: 0.3rem solid $color-gray;
    }
    .nav a.highlight {
        font-weight: bold;
    }
}

.nav-button {
    position: fixed;
    right: 0;
    z-index: 11;
    background-color: $color-light;
    border: none;
    padding: 0.7rem 1rem;
    cursor: pointer;
}
.nav-button-bar {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: $color-dark;
    margin: 0.3rem 0;
    padding: 0;
    display: block;
    transition: transform 0.5s, opacity 0.2s linear;
    -webkit-transition: transform 0.5s, opacity 0.2s linear;
}
.nav-button.is-open .nav-button-bar:nth-child(1) {
    transform: rotateY(0deg) rotate(45deg) translateY(0.4rem);
    -webkit-transform: rotateY(0deg) rotate(45deg) translateY(0.4rem);
}
.nav-button.is-open .nav-button-bar:nth-child(2) {
    transform: rotateY(0deg) rotate(-45deg) translateY(-0.4rem);
    -webkit-transform: rotateY(0deg) rotate(-45deg) translateY(-0.4rem);
}
.nav-button.is-open .nav-button-bar:nth-child(3) {
    opacity: 0;
}

h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.5rem;
}
h1, h2, h1 *, h2 * {
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.05rem;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    margin: 5rem 0 1rem;
    color: $color-text;
}
.font-serif {
    font-family: 'DM Serif Display', serif;
}

.title-image-container {
    background-color: $color-gray;
    border-radius: 1rem;
    overflow: hidden;
}
.title-image-container.hidden {
    display: none;
}

/* desktop */
@media (min-width: 45rem) {
    .title { font-size: 4.5rem; }
    .title-image-container { width: 80%; }
}

.block {
    padding: 0;
    width: 100%;
    padding: 1rem 0;
}

.container {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 45rem;
}

footer {
    border-top: 1px solid $color-gray;
    text-align: center;
}
footer p {
    font-size: 1.2em;
}

form input, form select {
    padding: 0.7rem;
    margin: 0.5rem 0 1rem;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid $color-medium;
    font-size: 1rem;
    border-radius: 5px;
}

form input[type=text], form input[type=tel], form input[type=email], form input[type=number] {
    width: 100%;
}

form input[type=radio] {
    margin-right: 0.5rem;
}

form select {
    padding: 0.55rem;
}

/* mobile form */
@media (min-width: 55rem) { /* desktop form */
    .person-attendance {
        display: block;
        margin-bottom: 0.5rem;
    }
    .person-attendance-name {
        display: inline-block;
        width: 10rem;
        overflow-wrap: break-word;
    }
}
.field-pair {
    .field {
        display: inline-block;
        width: 50%;
        padding-left: 0.75rem;
    }
    .field:first-child {
        padding-right: 0.75rem;
        padding-left: 0rem;
    }
}

form label  {
    margin-right: 2rem;
}

form button,
form input[type=submit] {
    padding: 0.75rem 1rem;
    background-color: $color-dark;
    border: 2px solid $color-dark;
    color: $color-light;
    cursor: pointer;
}

.form-errors {
    padding: 0.1rem 1rem;
    margin: 2rem 0;
}

.location-filter {
    padding: 1rem;
    background-color: $color-white;
    color: $color-medium;
    border: 0.1rem solid $color-medium;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    &.selected {
        background-color: $color-medium;
        color: $color-white;
        font-weight: bold;
    }
}
.location {
    margin-bottom: 2rem;
}
.location-metadata, .location-metadata *, .mono {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}
.mono.fill {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    background-color: #ededed;
}