@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~normalize.css/normalize.css';

html {
    font-size: 100%;
}

* {
    font-family: 'EB Garamond', serif;
    color: #2F4037;
    box-sizing: border-box;
}
p, li {
    line-height: 2.1rem;
}

p, form, li {
    font-size: 1.4rem;
}

@media (min-width: 45rem) {
    nav {
        border-bottom: 1px solid #fff;
    }
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #fcd3e5;
    z-index: 2;
}
nav a {
    text-decoration: none;
    margin: 0 2rem 0 0;
    font-size: 1.3rem;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    margin: 6rem 0 1rem;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.5rem;
}
h1, h2, h1 *, h2 * {
    font-family: 'DM Serif Display', serif
}
@media (min-width: 45rem) {
    .title { font-size: 4.5rem; }
}
/* desktop */
@media (min-width: 45rem) {
    .title-image { width: 75%; }
}
.title-image {
    height: 350px;
    background-color: #f6f6f6;
    margin-bottom: -4.5rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    background: url('/title-smile.png');
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.title-image:hover {
    background: url('/title-laugh.png');
    background-size: cover;
}

.block {
    padding: 0;
    width: 100%;
    padding: 2rem 0;
}

.container {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 45rem;
}

footer {
    text-align: center;
}
footer p {
    font-size: 1.2em;
}

form input {
    padding: 0.7rem;
    margin: 0.5rem 0 1rem;
}

form input[type=text] {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

form input[type=radio] {
    margin-right: 0.5rem;
}

form label  {
    margin-right: 2rem;
}

form button {
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid #c0c0c0;
}

.form-errors {
    background-color: #b58488;
    padding: 0.25rem 1rem;
}

.map-container {
    height: 600px;
}

.rsvp-form {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dot {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -2rem;
}
.dot2 {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -2.4rem;
    margin-top: 0.4rem;
    opacity: 0.30;
}
.dot.blue, .dot2.blue {
    background-color: #fcd3e5;
}
.dot.green, .dot2.green {
    background-color: #fcd3d7;
}
.dot.yellow, .dot2.yellow {
    background-color: #ffffbf;
}