@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// bulma variable overrides
$family-primary: 'EB Garamond', serif;

.main {
    display: block;
    margin: auto;
    max-width: 700px;
    padding: 20px;
}

.nav {
    margin: 40px 0;
}

.foot {
    margin: 40px 0;
    padding-top: 40px;
    border-top: 1px solid #c0c0c0;
}

@import '~bulma/bulma';