@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import '~normalize.css/normalize.css';

html {
    font-size: 100%;
}
body {
    background-color: #F2F0F2;
}

/* Color Theme Swatches in Hex */
.purple-1 { color: #F2F0F2; }
.purple-2 { color: #E6DCF2; }
.purple-3 { color: #CABFD9; }
.purple-4 { color: #BBADD9; }
.purple-5 { color: #9A80BF; }
.purple-1-bg { background-color: #F2F0F2; }
.purple-2-bg { background-color: #E6DCF2; }
.purple-3-bg { background-color: #CABFD9; }
.purple-4-bg { background-color: #BBADD9; }
.purple-5-bg { background-color: #9A80BF; }

* {
    font-family: 'EB Garamond', serif;
    color: #2F4037;
    box-sizing: border-box;
}
p, li {
    line-height: 2.1rem;
}

p, form, li {
    font-size: 1.4rem;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 1rem;
    z-index: 10;
    opacity: 0.95;
    overflow: hidden;
    text-align: right;
    padding-top: 2.5rem;
}
.nav-button {
    position: fixed;
    right: 0;
    z-index: 11;
    background-color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    cursor: pointer;
}
.nav-button-bar {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #2F4037;
    margin: 0.3rem 0;
    padding: 0;
    display: block;
    transition: transform 0.5s, opacity 0.2s linear;
    -webkit-transition: transform 0.5s, opacity 0.2s linear;
}
.nav-button.is-open .nav-button-bar:nth-child(1) {
    transform: rotateY(0deg) rotate(45deg) translateY(0.4rem);
    -webkit-transform: rotateY(0deg) rotate(45deg) translateY(0.4rem);
}
.nav-button.is-open .nav-button-bar:nth-child(2) {
    transform: rotateY(0deg) rotate(-45deg) translateY(-0.4rem);
    -webkit-transform: rotateY(0deg) rotate(-45deg) translateY(-0.4rem);
}
.nav-button.is-open .nav-button-bar:nth-child(3) {
    opacity: 0;
}
.nav li {
    list-style-type: none;
}

.nav2 {
    position: fixed;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #E6DCF2;
    z-index: 20;
}
.nav2 a {
    margin: 0 1rem;
}
.nav2-title {
    font-size: 1.4rem;
    margin: auto 2rem;
    font-family: 'DM Serif Display', serif;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    margin: 2rem 0 1rem;
    text-shadow: #E6DCF2 0.2rem 0.2rem;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.5rem;
}
h1, h2, h1 *, h2 * {
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.05rem;
}
@media (min-width: 45rem) {
    .title { font-size: 4.5rem; }
}
/* desktop */
@media (min-width: 45rem) {
    .title-image-container { width: 75%; }
}
.title-image-container {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    height: 350px;
    background-color: #f6f6f6;
    margin-bottom: -6rem;
    position: relative;
    border: 0.5rem solid #fff;
    border-radius: 1rem;
    overflow: hidden;
}
.title-image {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
}

.block {
    padding: 0;
    width: 100%;
    padding: 3rem 0;
}

.container {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 45rem;
}

footer {
    border-top: 1px solid #E6DCF2;
    text-align: center;
}
footer p {
    font-size: 1.2em;
}

form input {
    padding: 0.7rem;
    margin: 0.5rem 0 1rem;
}

form input[type=text] {
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

form input[type=radio] {
    margin-right: 0.5rem;
}

form label  {
    margin-right: 2rem;
}

form button {
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid #c0c0c0;
}

.form-errors {
    background-color: #b58488;
    padding: 0.25rem 1rem;
}

.map-container {
    height: 500px;
    width: 120%;
    margin-left: -10%;
    border-radius: 1rem;
}

.rsvp-form {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    border: 0.5rem solid #E6DCF2;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

.dot {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -2.2rem;
}

.location {
    margin-bottom: 2rem;
}
.location-metadata {}
.location-metadata, .location-metadata * {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: #a7a7a7;
}